<!-- <button class="gradient-button">Time Box</button>
<link rel="stylesheet" href="gradient-button.css"> -->

<div class="container">
    <p> 
        <em class="blogGame2">I will edit this game with my team to improve functionality and user enjoyment over the course of trimester 2</em>
    </p>
    <p>
        <a class="game2Link" href="{{site.baseurl}}/navigation/game2" class="gradient-button">Game 2</a>
    </p>
    <p>
        <em class="blogmortalCombat">Below is the link to the game I engineered with my team from trimester one of CSSE</em>
    </p>
    <p>
        <a class="mortalcombatLink" href="https://tvick22.github.io/MORTal_Combat_Game" class="gradient-button">Tri 1 Project</a>
    </p>
    <p>
        <em class="blogcsse">CSSE Button navigates to a detailed account of all of my work in CSSE so far and all projects I will complete in the future</em>
    </p>
    <p>
        <a class="csseLink" href="{{site.baseurl}}/navigation/csse" class="gradient-button">Time Box</a>
    </p>
</div>

<style>
    .container {
        margin: 0 auto;
        padding: 8%;
        display: block;
        text-align: center;
    }
    .blogmortalCombat {
        font-style: normal;
        font-size:2rem;
        color: white;
        letter-spacing: -1px;
        font-weight: 500;
        margin-bottom: 0;
        padding-bottom: 5%;
    }
    .blogcsse {
        font-style: normal;
        font-size:2rem;
        color: white;
        letter-spacing: -1px;
        font-weight: 500;
        margin-bottom: 0;
        padding-bottom: 5%;
    }
    .blogGame2 {
        font-style: normal;
        font-size:2rem;
        color: white;
        letter-spacing: -1px;
        font-weight: 500;
        margin-bottom: 0;
        padding-bottom: 5%;
    }
</style>

<style>
    .gradient-button {
        background: linear-gradient(to right, #31d5e0, #acf0b5);
        border: none;
        color: black;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
    }

    .gradient-button:hover {
        /* Darken the button color on hover */
        background: linear-gradient(to right, #31d5e0, #9fddad); 
    }
</style>   


<style>
    .gradient-button {
        background: linear-gradient(to right, #31d5e0, #acf0b5);
        border: none;
        color: black;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
    }

    .gradient-button:hover {
        /* Darken the button color on hover */
        background: linear-gradient(to right, #31d5e0, #9fddad); 
    }
</style>   