@mixin gradient-background($start-color, $end-color) {
    background: linear-gradient(to right, $start-color, $end-color);
  }
  
  // Define variables for start and end colors
  $start-color: #3cec2c;
  $end-color: #acf0b5;
  
  // Button styles
  .gradient-button {
    @include gradient-background($start-color, $end-color);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block; // Ensure it behaves like a block element
  
    &:hover {
      // Darken the button color on hover
      background: darken(linear-gradient(to right, $start-color, $end-color), 10%);
    }
  }